body  {
  background-color: black;
  color: white;
}
.container  {
  display: none;
  text-align: center;
}
input {
  width: 50px;
  color: black;
}
.btn:default  {
  color: rgba(0, 0, 0, 0);
}
.btn:hover  {
  border: 2px groove gray;
  background-image: radial-gradient(darkorange, darkred, black, black);
  color: rgba(0,0,0,0);
}
.btn  {
  border: 2px groove darkgrey;
  border-radius: 100%;
  background-image: radial-gradient(orange, red, darkred, black, black);
  color: rgba(0,0,0,0);
  margin: 0px;
}
.well {
  border: 2px groove darkgrey;
  text-align: center;
  width: 50px;
  height: 125px;
  padding: 0px;
  padding-top: 0px;
  background-image: linear-gradient(rgb(50, 50, 50), rgb(0, 0, 0));
}
.greyBottom {
  margin-top: 5px;
  padding: 50%;
  padding-bottom: 5px;
  background-image: linear-gradient(grey, darkgrey);
  border-top: 2px groove darkgrey;
}
.halText  {
  float: left;
  margin-top: 6px;
  margin-left: 6px;
  margin-bottom: 32px;
  border: 1px solid darkgrey;
  font-size: 7px;
  color: white;
  padding: 0px;
}
#hal  {
  background-color: rgb(1, 113, 213);
  padding: 1px;
  padding-bottom: 2px;
}
p {
  margin: 0px;
  padding: 0px;
}
h2  {
  display: none;
}
